@font-face {
  font-family: "Slab";
  src: local("Slab"), url(../Assets/fonts/RobotoSlab-Regular.ttf);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  font-family: "Slab";
}

.main {
  min-height: 100vh;
  width: 100%;
}

.main-personalinfo {
  margin-top: 10%;
}

.letra-principal {
  width: 100%;
  height: 50px;
}

nav {
  justify-content: space-around !important;
}

.nav-container {
  font-family: "Slab" !important;
}

.overlay-container-hidden {
  background-color: #fff !important;
}

.second-title,
.personalinfo-title {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 50px;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
}

.principal-text-line2 {
  margin-left: 10%;
}

.principal-text-line3 {
  margin-left: 20%;
}

.principal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 100%;
  height: 200px;
}

.principal-1,
.principal-2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  width: 50%;
  height: 100%;
}

.work-experience-div {
  width: 100%;
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.experience-div {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.principal-2 {
  align-items: flex-start;
}

.principal-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background: #29c1e1;
  border-radius: 50px;
  font-size: 20px;
  width: 50%;
  height: 100%;
}

.frontend-skills-div,
.backend-skills-div,
.additional-skills-div {
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
  color: #000;
}

.experience-img {
  width: 100%;
  height: 200px;
  border-radius: 5%;
  transition: ease-in-out 0.2s;
}

.experience-img:hover {
  transform: scale(120%);
}

.bit-img {
  width: 200px;
  height: 200px;
  border-radius: 50px;
}

.text-personalinfo {
  text-align: center;
}

.skill-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  background: #29c1e1;
  padding-top: 2%;
  padding-bottom: 2%;
}

.experience-div > a {
  margin-bottom: 3%;
}

.overlay-container-show {
  background-color: #fff !important;
}

.skills {
  margin: 2%;
}

.main-skill-div {
  background: #fff;
  height: 172px;
  padding: 40px;
  border-radius: 50px;
}

.title-skills-div {
  text-align: center;
  fill: white;
  stroke: #000;
  stroke-width: 3px;
}

/* cards */

.src-Card-styles-module__card--1s_T3 {
  flex-flow: unset !important;
}

.src-UserCard-UserCardBody-styles-module__user-card-body--1Ox5y {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 !important;
  padding-top: 0 !important;
}

.src-UserCard-UserCardBody-styles-module__user-card-body--1Ox5y
  .src-UserCard-UserCardBody-styles-module__user-card-name--x7M0V {
  margin-bottom: 0 !important;
}

.achievements {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* border: #29c1e1 1px solid; */
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
}

.achieve-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: #29c1e1 3px solid;
  border-radius: 15px;
  margin-bottom: 5%;
}

.tittle-achieve {
  font-size: 20px;
}

.cv-div {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 20px;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  align-items: center;
}

.cv-div > span > a:link {
  color: red;
}

/* visited link */
.cv-div > span > a:visited {
  color: #e43a3a;
}

.dropdown-language {
  margin-top: 3%;
}

.contact-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.contact-fields-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.contact-field {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

._1twP4, ._2eBPT {
  width: 40%;
}

.contact-textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

h4 {
  left: 0;
  width: 100%;
  top: 9px;
  color: #aaa;
  transition: 0.3s;
  z-index: 1;
  letter-spacing: 0.5px;
  font: unset;
}

textarea {
  resize: none;
}

.send-button-form {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 100%;
}

.aws-btn--visible {
  width: 30% !important;
}

/* Loading screen */
.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.main-loading {
  background-color: #000000;
  opacity: 50%;
  z-index: 9;
  top: 50%;
  left: 50%;
  position:fixed;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.higfive-div {
  display: flex;
  justify-content: center;
  width: 100%;
}

.msg-div {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #bb2124;
  margin-top: 5%;
}

.footer {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  height: 6em;
  width: 100%;
  background-color: #222222;
  color: white;
  text-align: center;
}

.footer-item {
  display: flex;
  flex-direction: column;
  width: 20%;
  background-color: #222222;
}

.footer-item-socials {
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

@media screen and (max-width: 768px) {
  .experience-img:hover {
    transform: none;
  }

  .experience-div {
    width: 51%;
    margin-bottom: 5%;
  }

  .contact-field > ._1twP4, ._2eBPT {
    width: 100%;
}

.contact-fields-row > ._1twP4, ._2eBPT {
  width: 40%;
}
}

@media screen and (max-width: 425px) {
  .skill-div {
    flex-direction: column;
  }

  .second-title,
  .personalinfo-title {
    font-size: 20px;
  }

  .principal-1 {
    font-size: 30px;
  }

  .principal-2 {
    justify-content: center;
  }

  .bit-img {
    width: 70%;
    height: 200px;
    border-radius: 50px;
  }

  .principal {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .principal-info {
    width: 100%;
  }

  .letra-principal {
    width: 90%;
  }

  .experience-div {
    width: 100%;
  }

  .achievements {
    width: 99%;
    margin-left: 0%;
    margin-right: 0%;
  }

  .footer {
    flex-direction: column;
  }

  .footer-item {
    width: 100%;
}

.aws-btn--visible {
  width: 50% !important;
}
}

/* Palette color  */

/* 
3A4555
D4D4D4
EDECEC
29C1E1 
*/
